body {
    font-family: Arial, sans-serif;
    background-color: #feee5a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.input {
    margin: 0;
    background-image: url('Group\ 1.png');
    background-size: cover;
    width: 200px;
    height: 50px;
    border: none;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 8px;
    margin-top: 30px;
}

.input input {
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    width: 100%;
    outline: none;
    font-weight: bold;
    ::placeholder {
        color: white;
    }
}

.checkbox-box {
    border: 2px solid #ccc;
    padding: 10px 15px;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.image-button {
    background-image: url('button.png');
    background-color: transparent;
    background-size: cover;
    width: 200px;     
    height: 60px;   
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 40px;
}

.signup-button {
    margin: 0;
    background-image: url('signup.png');
    background-size: cover;
    width: 150px;     
    height: 60px;    
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: center; 
    gap: 10px;
}

.top-banner {
    width: 100%;
    background-color: #C70039; 
    color: white;
    padding: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}